{{ $prefix := .PathPrefix -}}
[
{{- range $key, $value := .Annotations }}
  {
  "op": "add",
  "path": "{{$prefix}}/metadata/annotations/{{$key | replace "/" "~1"}}",
  "value": "{{$value}}"
  },
{{- end }}
{{- range $label, $value := .Labels }}
  {
  "op": "add",
  "path": "{{$prefix}}/metadata/labels/{{$label | replace "/" "~1"}}",
  "value": "{{$value}}"
  },
{{- end }}
  {
  "op": "add",
  "path": "{{$prefix}}/spec/containers/-",
  "value": {{- .ProxySidecar | toPrettyJson }}
  },
]